body {
  background-image: url('./images/background.png');
  color: white;
  font-family: Philosopher , sans-serif;
  text-align: center;
}

h1 {
  font-size: 50px;
  letter-spacing: 6px;
}

h2 {
  background-color: rgba(0, 0, 0, 0.5);
  border: rgba(255, 255, 255, 0.4) solid 1px;
  border-radius: 10px;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 10px 0;
  transition: 800ms;
  width: 40%;
}

h2:hover {
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0) solid 1px;
  letter-spacing: 6px;
}

.beautiful-planets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  width: 70%;
}

img {
  transition: all 800ms;
  width: 200px;
}

img:hover {
  filter: drop-shadow(1px 1px 8px rgba(98, 98, 100, 0.507));
  transform: scale(01.1);
}

.beautiful-missions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-top: 25px;
  width: 90%;
}

.mission-info .mission-title {
  font-size: larger;
  font-weight: 700;
}

hr {
  background-color: white;
  border: none;
  height: 0.1px;
  margin-bottom: 20px;
}

.mission-info {
  background-color: rgba(0, 0, 0, 0.5);
  border: rgba(255, 255, 255, 0.4) solid 1px;
  border-radius: 10px;
  line-height: 7px;
  margin: 12px;
  padding: 0 18px;
  text-align: left;
  transition: 600ms;
  width: 22%;
}

.mission-info:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border: rgba(255, 255, 255, 0.226) solid 1px;
  transform: scale(01.07);
}
